{% extends 'users/base.html'%}
{% block title %} About | Social Media{% endblock %}
{% load static %}
{% block content %}

	<div class="container">
		<div class="row justify-content-center mt-4">
			<div class="col-md-8">
				<h2>About</h2>
				<hr>
				<div class="row align-items-center">
					<div class="col-md-5">
						<center><img class="img img-fluid rounded-circle my-img" height="250" width="250"  src="/static/Mani.jpg">
			
						</center>
					</div>
					<div class="col-md-7 mt-md-1 mt-4">
						<p>Hey I'm <strong>Manibarathi</strong>, the creator of this website. I was always fascinated by Social Media Platforms, so I decided to try building a small one as a project. As you might have noticed the entire design of the website is inspired from Instagram. The entire project is developed using the framework Django. I've also used Postgres for database, AWS(Amazon Web Services) to hold the Image files. And for hosting I used Heroku. </p>
						<p>
							The source code of the Project can be found  <a href="https://github.com/mani-barathi/" target="_blank">here</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	
{% endblock %}