@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: 0;
}

.app-container{
	background:  #f8f9f9 ;
}

.nav-container{
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
	background: white;
	display: flex;
	justify-content: center;
	border-bottom:  1px solid #D5DBDB;
}

.nav-controller{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 900px;
}
.nav-left ,.nav-right{
	display: flex;
    align-items: center;
}

.nav-controller a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    transition: color 0.3s;
}
.nav-controller a:hover {
    background: rgb(235,76,76);
    background: linear-gradient(72deg, rgba(235,76,76,1) 0%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/*--- Drop Down -------------------*/
.dropdown{
    display: none;
    padding: 10px 15px;
    position: absolute;
    right:0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 5px;
    transition: display 1s;
 }

.img-container{
    position: relative;
    display: inline-block;
}   
.img-container:hover{
    cursor: pointer;
}
.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*-----------search bar-----------*/
.search-bar{
    background:whitesmoke;
    outline: 0;
    border: 1px solid lightgrey;
    color: grey;
    font-size: small;
    padding: 3px 15px;
    border-radius: 3px;
    width: 200px;
}

@media screen and (max-width: 501px){
    .search-bar{
        display: none;
    } 
}



/*-----Post container-------------------*/
.post-container{
    background: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D5DBDB;
    border-radius: 3px;
}
.post-header{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    width: 100%;
}
.post-author{
    margin: 0px 10px;
    flex:1;
}
.post-author a{
    text-decoration: none;
    color: black;
}
.post-image{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*.post-image > a > img{
    width: 100%;
    object-fit: contain;
}*/
.post-image > img{
    width: 100%;
    object-fit: contain;
}

.post-caption{
    padding: 0px 10px;
}

@media screen and (max-width: 501px){
    .post-container{
        width: 100%;
    }
}


/*-- any_user ------------*/
.total-container{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.profile-details{
    display: flex;
    align-items: center;
    width: 100%;
   padding: 10px; 
}
/*.profile-info{
    margin-left: 20px;
}*/

.profile-posts-container{
    /*display: flex;*/
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*
    grid-template-rows: 160px 160px 160px;*/
    grid-row-gap:5px;
    border-top: 1px solid lightgrey;
    padding: 10px 5px;
}

.posts{
   display: flex;
   justify-content: center;
}
.posts > a> img{
    object-fit: cover;
    height: 158px;
    width: 158px;
}
.posts > a:hover{
    filter: brightness(90%);
}

@media screen and (max-width: 400px){
    .total-container{
        width: 95%;
    } 
    .profile-posts-container{
        grid-row-gap:3px;
    }
    .posts > a> img{
        height: 108px;
        width: 108px;
    }
}


/*about pages*/
.my-img{
    object-fit: contain;
}

/* My profile page*/
.profile-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
@media screen and (max-width: 375px){
    .profile-img{
        width: 75px;
        height: 75px;
    }
}

/* Settings Page */
.item-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.item-container > a{
    display: block;
    padding: 10px 20px;

}

.item-container> a:hover{
    background: #E5E7E9;
}